@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', sans-serif !important;
  overflow-x: hidden;
}

main {
  z-index: 100;
}

.footer-wave{
  z-index:-1;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.size-users {
  min-width: 25rem;
  max-width: 29rem;
  }

  .width-menubar{
    max-width:450px;
  }

.font-step{
  background-color:#ECF1FF;
  color:#2E5DD6;
}
.bg-color-button{
  background-color:#2E5DD6;
}

.text-link{
  color:#2DAD70;
}

/* .image-container-shadow{
  box-shadow: 4px 4px 24px 0 rgba(46, 93, 214, 0.12) ;
  display: flex;
  align-self: center;

} */

/* swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  
} */

.image-container {
 
filter: drop-shadow(4px 4px 24px rgba(46, 93, 214, 0.12));
border-radius: 12px;
   
  }